{% extends 'base.html' %}

{% load static %}

{% block title  %}
| درباره ی ما
{% endblock title %}

{% block content %}
<div class="main-container my-5">
    <section id="showcase-inner" class="py-5 text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h1 class="display-3">Moein Veblog</h1>
            <p class="lead">این وبلاگ در اصل یه وبلاگ خیلی خفنه. چرا؟ چون دیگه...</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url  'index' %}"> <i class="fas fa-home"></i> خانه</a>
            </li>
            <li class="breadcrumb-item active">درباره</li>
          </ol>
        </nav>
      </div>
    </section>

    <section id="about" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>خیلی کارای خفنی قراره بکنیم!</h2>
            <p class="lead">تمام امتیازات این وبلاگ متعلق به  Moein-Group می باشد.</p>
            <img src="{% static 'img/about.jpg' %}" alt="" />
            <p class="mt-4" style="font-size: 15px;">
              وبلاگ برنامه نویسی Moein blog  در تلاش است تا موضوعات مهم را در زمینه برنامه نویسی به اشتراک بگذارد تا بلاگر ها ی ما بتوانند بیشتر با موضوعاتی همچون اهمیت برنامه نویسی در دنیای امروزآشنا شوند
            </p>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/Ryan-Group.png' %}" alt="Ahhh!!!" title="Ahhhh!!!!" />
              <div class="card-body">
                <h5 class="card-title">Moein</h5>
                <h6 class="text-secondary">سلام!</h6>
                <p class="card-text" style="font-size: 13px;">
                  باسلام خدمت بلاگر های عزیز وبلاگ معین بلاگ من محمد معین حسین زاده هستم فعال در حوزه 
برنامه نویسی پایتون و فریم ورک جنگو و پای کیوت.
مدیر ادمین وبلاگ معین بلاگ
همچنین مدرک و گواهینامه اموزش پایتون مقدماتی را هم دارم.
وبلاگ معین بلاگ را هم خودم به طراحی و ساختم.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}